---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brand from "../components/Brand.astro";
import PostCard from "../components/PostCard.astro";
import ThemeTag from "../components/ThemeTag.astro";
import { getCollection } from "astro:content";
import Category from "../components/Category.astro";

// 1. Get every post
const allPosts = await getCollection("posts");

// 2. From all posts, keep only the ones marked featured: true
const featuredPosts = allPosts.filter(post => post.data.featured);

// 3. Sort all posts newest first, then take only the first 3
const recentPosts = allPosts.sort((a, b) => b.data.date - a.data.date).slice(0, 3);

const categories = ["Story","Poetry","Analyses"]
const themes =["Astronomy","Love","Nostalgia","Mythology"];
---

<BaseLayout title="Home">
	<Brand />

	<section class="featured-posts">
		<h2>Featured Posts</h2>
		<div class="post-grid">
			{featuredPosts.map(post => (
				<PostCard
					title={post.data.title}
					description={post.data.description}
					href={`/posts/${post.id}`}
					image={post.data.image}
				/>
			))}
		</div>
	</section>


	<section class="category-tags">
		{categories.map(category =>(
			<Category category_name={category}/>
		))}
	</section>
	<section class="theme-tags">
		{themes.map(theme =>(
			<ThemeTag theme_name={theme}/>
		))}
	</section>

	<section class="author-introduction">
		<h2>About the Author</h2>
		<div class="author-card">
			<div class="author-image">
				<img src="#" alt="#"/>		
			</div>

			<div class="author-card-content">
				<h3>Author's name</h3>
				<p>Welcome & Introduction</p>
			</div>
		</div>
		
		<!--Will add an arrow at the end so user will be guided that there is more; flex due to format, grid is also possible.-->
	</section>

	<!-- 4. For each recent post, render one 
	PostCard with that post's data -->

	<section class="recent-posts">
		<h2>Recent Posts</h2>
		<div class="post-grid">
			{recentPosts.map(post => (
				<PostCard
					title={post.data.title}
					description={post.data.description}
					href={`/posts/${post.id}`}
					image={post.data.image}
				/>
			))}
		</div>
	</section>
	
<!--Header: display flex, controls Brand + Nav children
	container: grid for main layout
	featured-posts: grid for even spacing
	theme-tags: flex so pills wrap on overflow
-->
</BaseLayout>
